.vscode/settings.json
edxDV0101EN/.ipynb_checkpoints/
edxDA0101EN/.ipynb_checkpoints/
*.ipynb_checkpoints/
*.png
*.txt
*.csv
*.npy
.ipynb_checkpoints/Dice_Game-checkpoint.py
edxDV0101EN/world_countries.json
__pycache__/
.vscode/
.ipynb_checkpoints/Linear Regression-checkpoint.ipynb
PyGame/Assets/bg.jpg
PyGame/Assets/music.mp3
*.pdf
*.jovianrc
*.exe
*/data/
